@font-face {
    font-family: "averta-regular";
    src: url(../fonts/Averta-Regular.woff2);
}

@font-face {
    font-family: "averta-light";
    src: url(../fonts/Averta-Light.woff2);
}

@font-face {
    font-family: "averta-bold";
    src: url(../fonts/Averta-Bold.woff2);
}

@font-face {
    font-family: "averta-semibold";
    src: url(../fonts/Averta-Semibold.woff2);
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: #fff !important;
    top: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    left: 0;
    z-index: 999;
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 5px;
}

body {
    font-family: "averta-regular" !important;
}

.animate__fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}

.animate__animated {
    animation-duration: var(--animate-duration);
    animation-fill-mode: both;
}

.all-navbar {
    display: flex;
    align-items: center;
    padding: 13px 0;
}

.navbar-logo {
    margin-right: 1rem;
}

.navbar-logo img {
    width: 145.77px;
    height: 69.95px;
}

.navbar-item .navbar-ul {
    display: flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.navbar-item .navbar-active-li a {
    text-decoration: none !important;
    color: #80b435 !important;
    background-color: #f1f1f2;
    border-radius: 8px;
    font-family: "averta-light";
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 300;
}

.navbar-item ul a {
    text-decoration: none !important;
    color: #000 !important;
    padding: 10px 18px;
    font-size: 16px;
    font-family: "averta-light";
    transition: .3s;
    font-weight: 300;
}

.navbar-item ul a:hover {
    background: #f1f1f2;
    color: #80b435 !important;
    border-radius: 8px;
}

.navbar-item ul a i {
    font-size: 10px;
}

.navbar-language ul {
    display: flex;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.navbar-language ul li {
    margin: 0 10px !important;
    padding-right: 20px;
    border-right: 1px solid #80b435;
}

.navbar-language ul a {
    color: #000 !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-family: "averta-light";
}

.navbar-language ul a:hover {
    text-decoration: underline !important;
}

.navbar-language .ru {
    border-right: 0 !important;
}

/* .navbar-btn {
    margin-left: 20px;
} */
.navbar-btn ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.navbar-btn a {
    text-decoration: none;
    padding: 10px 18px;
    color: #fff;
    background: #80b435;
    box-shadow: 0 4px 4px rgb(128 180 61 / 30%), 0 4px 12px rgb(0 53 118 / 8%);
    border-radius: 8px;
    font-weight: "averta-semibold";
}

.navbar-btn a:hover {
    background-color: #525252;
    color: #fff !important;
}

.modal-content {
    border-radius: 10px !important;
    padding: 0 50px 50px !important;
}

.modal-header {
    padding: 22px 0 15px !important;
}

.modal-body {
    padding: 20px 0 0 !important;
}

.modal-input {
    margin-bottom: 16px !important;
}

.modal-input input,
textarea {
    width: 100%;
    border: 1px solid #e6ecf2;
    padding: 12px 20px;
    border-radius: 4px !important;
    font-size: 14px !important;
    outline: none;
    -webkit-appearance: none;
    transition: all .3s ease;
    outline: none;
}

.modal-input select {
    width: 100%;
    border: 1px solid #e6ecf2;
    padding: 12px 20px !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    transition: all .3s ease;
    outline: none;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

select:invalid {
    color: #757575;
}

select {
    /* -webkit-appearance: menulist-button; */
    /* color: black; */
    background-image: url(/img/arrow-below.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    background-size: 11px;
}

textarea {
    resize: none !important;
}

.modal-bttn {
    padding-bottom: 150px !important;
}

.modal-bttn button {
    background: #7eb434 !important;
    color: #fff;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    transition: 0.3s linear;
    padding: 0 26px;
    width: 100%;
    float: right;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    right: 0;
    box-shadow: 0 6px 10px -2px #7eb434;
    border: none;
}

.modal-bttn button:hover {
    box-shadow: none;
    color: #fff;
}




.dropdown-menu {
    z-index: 1000;
    display: none !important;
    width: 450px !important;
    margin-top: 8px !important;
    padding: 30px 34px !important;
    color: #212529;
    background-color: #fff;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    /* left: 0; */
    /* right: 0%; */
    z-index: 555;
    background: white;
}

header .dropdown-menu::before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 30px;
    border: 7px solid transparent;
    border-bottom: 8px solid #fff;
}


.dropdown-menu.show {
    display: block !important;
}

.dropdown-title p {
    font-size: 14px;
    line-height: 1.71;
    color: #4c4c4c;
    font-weight: 300;
}

.dropdown-ull ul {
    padding-left: 0 !important;
}

.dropdown-ull ul a {
    padding: 0 0 15px !important;
}

.dropdown-ull ul a:hover {
    color: #80b435;
    background-color: transparent !important;
    padding: 0 0 15px !important;
}

main {
    margin-top: 77px;
}

main .carousel-inner .carousel-item>div {
    display: flex;
    align-items: center;
    height: 100%;
}


.carousel-itemm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.text_wrapper h2 {
    font-size: 60px;
    margin-bottom: 15px;
    line-height: 70px;
    font-weight: 600;
}

.text_wrapper a {
    display: inline-block;
    text-decoration: none;
    background: #abd373;
    width: max-content;
    padding: 12px 40px;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
}

.text_wrapper a:hover {
    background: #525252;
    color: white;
}

.text_wrapper p {
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 28px;
}

main .carousel-item .img_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next {
    left: 75px;
}

.carousel-item-img img {
    object-fit: contain;
}

main .carousel-inner .carousel-item {
    height: 597px;
}

main .carousel-inner .carousel-item:nth-child(1) {
    background-color: #f9efe9;
}

main .carousel-inner .carousel-item:nth-child(1) .circle_wrap {
    background: #f0e0d3;
}

main .carousel-inner .carousel-item:nth-child(2) {
    background-color: #ffebf7;
}

main .carousel-inner .carousel-item:nth-child(2) .circle_wrap {
    background: #fbd5eb;
}

main .carousel-inner .carousel-item:nth-child(3) {
    background-color: #edfeeb;
}

main .carousel-inner .carousel-item:nth-child(3) .circle_wrap {
    background: #d1f7ca;
}

main .carousel-inner .carousel-item:nth-child(4) {
    background-color: #e9f7f9;
}

main .carousel-inner .carousel-item:nth-child(4) .circle_wrap {
    background: #cdecf1;
}

main .carousel-inner .carousel-item:nth-child(5) {
    background-color: #ffebf7;
}

main .carousel-inner .carousel-item:nth-child(5) .circle_wrap {
    background: #fbd5eb;
}

.circle_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    transition: transform .9s;
    transition-delay: .2s;
}

.d-block {
    position: relative;
}

.first-slide .carousel-item-img img {
    width: 443px !important;
}

.second-slide .carousel-item-img img {
    width: 472px !important;
}

.third-slide .carousel-item-img img {
    width: 430px !important;
}

.fourth-slide .carousel-item-img img {
    width: 471px !important;
}

.fifth-slide .carousel-item-img img {
    width: 580px !important;
}

main .carousel-control-next,
main .carousel-control-prev {
    width: 56px;
    height: 56px;
    background-color: white;
    opacity: 1;
    margin: 0 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

main .carousel-control-next:hover,
main .carousel-control-prev:hover {
    background-color: #abd373;
}

.control_container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
}

.btn-section {
    display: flex;
}

.row {
    margin-top: 5%;
}

main .carousel-inner .carousel-item>div {
    height: 100%;
}

.carousel-item-text {
    width: 600px;
}

.carousel-control-prev-icon {
    background-image: url(/img/left-icon.png) !important;
}

.carousel-control-next-icon {
    background-image: url(../img/next-icon.png) !important;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(1);
}



.advantages {
    padding: 5rem 0 2.2rem;
}

/* .justify-content-center {
    justify-content: space-between !important;
} */

.advantage-row {
    display: flex !important;
    flex-wrap: wrap;
}

.list-wrap {
    padding: 0;
}

.list-wrap li {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #121212;
    font-family: "averta-semibold";
}

.list-wrap span {
    width: 50px;
    height: 50px;
    background-color: #80b435;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.advantages .row>* {
    width: 72% !important;
}



.products {
    padding: 5rem 0 3.3rem;
    background-color: #f8f8f8;
}

.col-md-4 a {
    text-decoration: none;
}

.col-md-4 a:hover {
    color: #333;
}

.products-content {
    max-width: 996px;
    margin: auto;
}

.products-content .row>div:nth-child(1),
.products-content .row>div:nth-child(2),
.products-content .row>div:nth-child(3) {
    display: block;
}

.products a {
    display: block;
    color: black;
}

.box .box_top {
    position: relative;
}

.box .box_img {
    height: 280px;
    overflow: hidden;
}

.box .box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    will-change: transform;
}

.products .col-md-4:first-child .box .box_img img {
    object-position: -4px -50px;
    width: 100%;
}

.products-content .row>div:nth-child(1) .box_icon {
    background-image: url(../img/plant-icon.png);
}

.box .box_icon {
    position: absolute;
    bottom: -28px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #667760;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
}

.box .box_body {
    margin-top: 63px;
    text-align: center;
}

.box .box_body .box_title {
    font-family: "averta-semibold";
    font-size: 20px;
    margin-bottom: 12px;
}

.box .box_body .box_descr {
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}

.products .row>div:nth-child(2) .box {
    margin-top: 70px;
}

.products .row .col-md-4:nth-child(2) .box_img img {
    object-position: 0px -30px;
}

.products-content .row>div:nth-child(2) .box_icon {
    background-image: url(../img/stone.png);
}

.products-content .row>div:nth-child(3) .box_icon {
    background-image: url(../img/partition-icon.png);
}

.col-md-4:nth-child(3) .box .box_img img {
    object-fit: contain !important;
}

.box_top:hover .box_img img {
    transform: scale(1.03);
}

.main_page_about {
    background: url(../img/bg-img.png) 50% no-repeat;
    background-size: 100%;
    text-align: center;
    height: 800px;
    display: flex;
    align-items: center;
}

.main_page_about .text_content {
    max-width: 770px;
}

.main_page_about .about_descr p {
    margin: 0;
    font-size: 16px;
    color: #666;
    line-height: 34px;
}

.main_page_about .about_descr strong {
    color: #000;
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 35px;
    font-family: "averta-semibold";
}




.section_padding {
    padding: 5rem 0;
}

.owl-item {
    /* margin-right: 25px; */
    width: 355.333px;
}

.owl-stage {
    /* transform: translate3d(-2828px, 0px, 0px); */
    transition: all 0.6s ease 0s;
    width: 4410px !important;
}

.decorations .section_title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.section_title {
    margin-bottom: 30px;
}

.section_title h3 {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 30px;
}

.section_title a {
    font-size: 16px;
    color: #575757 !important;
    position: relative;
    text-decoration: underline !important;
}

.section_title a:hover {
    color: #000 !important;
}

.decorations .decoration-card {
    -webkit-box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 6%);
    border-radius: 6px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    background-color: white;
}

.decorations a {
    display: block;
    color: black;
    text-decoration: none;
}

.decorations a:hover {
    color: #000;
}

.decorations .card {
    border: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.decorations .card .card_img {
    height: 290px;
    transition: 0.3s ease;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}

.decorations .card .card_img:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, #000000 -16%, rgba(0, 0, 0, 0)60%);
    z-index: 9;
    height: 180px;
}

.decorations .card .card_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.decorations .decoration-card:hover .card_img {
    transform: translateY(-10px);
}

.decorations .card_img .decoration-decr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffffbd;
    z-index: 10;
    padding: 20px;
    font-size: 14px;
}

.decorations .card_img .decoration-decr p {
    margin-bottom: 0;
}

.decorations .card_img .decoration-decr img {
    width: 27px;
    height: 100%;
    object-fit: contain;
    margin-right: 8px;
}

.decorations .card-body {
    padding: 15px 20px;
    text-align: center;
}

.card-body {
    flex: 1 1 auto;
}

.decorations .card-body .card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.decorations .decoration-order {
    background: #f9efe9 !important;
    color: #382c25;
    padding: 12px 30px;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 15px;
    transition: .3s;
}

.decorations .decoration-order:hover {
    background: #f0e0d3 !important;
    color: #000 !important;
}

.projects .section_title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.projects .section_title a {
    font-size: 16px;
    opacity: 0.6;
    position: relative;
}

.projects .section_title a:hover {
    opacity: 1;
}

.projects .quote {
    padding: 0;
    height: 260px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.projects .quote a {
    display: block;
    color: black;
    height: 100%;
}

.projects .quote img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
    opacity: 1;
    margin: 0;
}

.projects .quote:hover img {
    filter: brightness(0.9);
}

.projects .owl-carousel .owl-nav .owl-prev {
    left: -25px;
}

.projects .owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #abd373 !important;
    border: 5px solid white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.projects .owl-carousel .owl-nav .owl-next {
    right: -25px;
}

.projects .owl-carousel .owl-nav button i {
    color: white;
}

.projects .owl-carousel .owl-nav button:hover {
    background: #6f6f6f !important;
}

.owl-carousel .owl-nav.disabled {
    display: none;
}

.call-to-action {
    background-color: #d9fde5;
    height: 457px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 90px;
}

.align-items-center {
    align-items: center !important;
}

.call-to-action .content_wrap h3 {
    font-size: 48px;
    line-height: 1.15;
    color: #2f313f;
    font-family: "averta-bold";
}

.call-to-action .content_wrap p {
    color: #818391;
    margin: 32px 0 0;
    font-size: 18px;
    line-height: 1.5;
}

.call-to-action .more_btn {
    padding: 15px 24px;
    margin-top: 40px;
    display: block;
    width: max-content;
    background: #abd373;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.call-to-action .more_btn:hover {
    background: #525252;
}

.call-to-action .img_wrap {
    position: absolute;
    max-width: 55%;
    right: 0;
    bottom: -30px;
    max-height: 749px;
}

.call-to-action .img_wrap img {
    width: 100%;
}

footer {
    padding: 65px 0 48px;
}

footer .footer_top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 40px;
}

footer .footer_top .footer_menu {
    padding: 0;
    margin: 0;
}

footer .footer_top .footer_menu p {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 16px;
}

footer .footer_top .footer_menu li a {
    color: rgba(0, 0, 0, 0.55);
}

footer .footer_top .footer_menu a {
    display: block;
    font-size: 13px;
    color: black;
    margin-bottom: 16px;
    text-decoration: none;
}

footer .footer_bottom {
    margin-top: 40px;
}

footer .first_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .first_row {
    margin-bottom: 40px;
}

footer .logo_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .logo_wrap img {
    width: 130px;
    margin-right: 20px;
}

footer .logo_wrap span {
    font-size: 14px
}

.social_media {
    display: flex;
    padding: 0;
    margin: 0;
}

.social_media li {
    margin-left: 30px;
}

.social_media li a {
    color: #000;
    transition: all .3s ease;
}

footer .social_media .facebook i {
    font-size: 17px;
}

footer .social_media li i {
    font-size: 20px;
}

.facebook:hover a {
    color: #0a58ca;
}

.instagram:hover a {
    color: #c32aa3;
}

.telegram:hover a {
    color: #0a58ca;
}

.whatsapp:hover a {
    color: #25d366;
}

footer .second_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .second_row {
    font-size: 13px;
}

.second_row a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.phone_wrap:hover {
    color: #000;
}












.animate_delay_200ms {
    animation-delay: 0.2s !important;
}

.animate_delay_300ms {
    animation-delay: 0.3s !important;
}

.animate_delay_400ms {
    animation-delay: 0.4s !important;
}

.animate_delay_600ms {
    animation-delay: 0.6s !important;
}

.animate_delay_800ms {
    animation-delay: 0.8s !important;
}

.down1,
.down2 {
    transform: rotate(180deg);
}


/* COMMENT */
.menu__collapse {
    background-color: #efe1d2;
}

.navbar-toggler {
    /* position: absolute; */
    right: 0;
    z-index: 1;
}

.navbar-toggler span {
    height: 2px;
    width: 30px;
    background-color: #737373;
    display: block;
}

header .order_btn a {
    padding: 10px 20px;
    color: #FFFFFF;
    background: #80b435;
    box-shadow: 0 4px 4px rgb(128 180 61 / 30%), 0 4px 12px rgb(0 53 118 / 8%);
    border-radius: 8px;
    font-weight: 500;
    display: block;
    width: max-content;
    font-family: "Averta";
    margin: 0 auto; 
    text-decoration: none;
    font-size: 16px !important;
    font-family: "averta-bold";
}

header .order_btn {
    margin: 0 auto;
}

.menu__blackout {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.menu__collapse {
    position: absolute;
    top: 0;
    right: 100vw;
    bottom: 0;
    left: -80vw;
    -webkit-transition: ease-in-out all 1s;
    transition: ease-in-out all 1s;
    z-index: 11;
    /* width: 90%; */
    /* right: -100%; */
    /* background: #efe1d2; */
    padding: 60px 50px;
    height: 100vh;
    overflow-y: auto;
}

header .navbar-nav {
    margin: 0;
    padding: 60px 0 30px;
    text-align: center;
}

.nav-item {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    width: 100%;
}

.nav-link {
    padding: 20px !important;
    font-family: "Averta-light";
    font-weight: 300;
}

.nav-link:hover {
    background: #F1F1F2;
    border-color: #CCCCCC;
    color: #80b435 !important;
}

.nav-link i {
    font-size: 13px;
    margin-left: 5px;
}

.dropdown-menu2 {
    display: none;
    padding: 30px 34px;
    background-color: #fff;
    border-radius: 10px;
    text-align: start;
    width: fit-content;
}

.dropdown-title2 p {
    font-family: "Averta-light";
    font-size: 14px;
    line-height: 1.71;
    color: #4c4c4c;
    font-weight: 300;
    margin-bottom: 1rem;
}

.dropdown-menu2 hr {
    margin: 20px 0;
    border-top: 1px solid #d4d6d8;
}

.dropdown-item2 {
    color: #000;
    font-family: "Averta";
}

.nav-itemm {
    padding: 0 0 20px;
}

.dropdown-menu3 {
    display: none;
    padding: 30px 34px;
    background-color: #fff;
    border-radius: 10px;
    text-align: start;
}

.dropdown-item3 {
    color: #000;
    font-family: "Averta";
}

.nav-itemm2 {
    padding: 0 0 15px;
}

.navbar-toggler {
    display: none;
}

.navbar-toggler .line:nth-child(2) {
    margin: 6px 0;
}